body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color white
a
  color: #00B7FF

#chat
  margin 0 auto

  .chat-container
    height 400px
    border 1px solid black
    width 75%

  .chat-input-container
    width 100%

    form
      width 100%

      #inputContent
        width 75%
